.twokinds {
  a {
    background-image: url('../../static/rascals/partners/link_trade_2ks.png');
  }
}
.thedepthscomic {
  a {
    background-image: url('../../static/rascals/partners/link_trade_td.png');
  }
}
.yoshsaga {
  a {
    background-image: url('../../static/rascals/partners/link_trade_yosh.png');
  }
}
.draconiachronicles {
  a {
    background-image: url('../../static/rascals/partners/link_trade_dc.png');
  }
}
