.archive-page {
  background-color: $off_white_opaque;
  border-radius: $default-border-radius;
  border: 2px solid $off_white;
  color: $off_white;
  margin-top: $default-margin;
  padding: $default-padding;
  .comic-archive-chapter-wrap {
    display: flex;
    align-items: center;
    .comic-archive-thumbnail {
      order: 1;
      img {
        border-radius: $default-border-radius;
      }
    }
    .comic-archive-chapter {
      order: 2;
      text-align: center;
      width: 25%;
    }
    .comic-archive-chapter-description {
      order: 3;
      padding: $default-padding;
      width: 50%;
    }
    .comic-archive-list-wrap {
      order: 4;
      .comic-archive-title {
        a {
          color: $off_white;
        }
      }
    }
    .comic-archive-date {
      display: none;
    }
  }
}
