.archive-page {
  background-color: $off_white_opaque_strong;
  color: $black !important;
  .comic-archive-chapter-wrap {
    .comic-archive-title {
      a {
        color: $black !important;
      }
    }
  }
}
