.archive-page {
  background-color: $blue_opaque_strong;
  color: $off_white;
  .comic-archive-chapter-wrap {
    .comic-archive-title {
      a {
        color: $off_white !important;
      }
    }
  }
}
