.archive-page {
  background-color: rgba(0, 110, 187, .4);
  border-radius: 25px;
  border: 2px solid $off_white;
  section {
    .comic-archive-title {
      a {
        color: $off_white;
      }
    }
  }
}
