.picarto {
  a {
    background-image: url('../../static/imew/socialsSmall_0000_Picarto.png');
  }
}
.fur-affinity {
  a {
    background-image: url('../../static/imew/socialsSmall_0001_Fa.png');
  }
}
.deviant-art {
  a {
    background-image: url('../../static/imew/socialsSmall_0002_DA.png');
  }
}
.instagram {
  display: none;
}
.youtube {
  a {
    background-image: url('../../static/imew/socialsSmall_0004_youtube.png');
  }
}
.patreon {
  a {
    background-image: url('../../static/imew/socialsSmall_0005_patreon.png');
  }
}
.paypal {
  a {
    background-image: url('../../static/imew/socialsSmall_0006_paypal.png');
  }
}
.ko-fi {
  a {
    background-image: url('../../static/imew/socialsSmall_0007_kofi.png');
  }
}
.gumroad {
  a {
    background-image: url('../../static/imew/socialsSmall_0008_gumroad.png');
  }
}
.twitter {
  a {
    background-image: url('../../static/imew/socialsSmall_0009_twitter.png');
  }
}
.discord {
  display: none;
}
