$panel_color: #2c4435;
$frame_color: #41664F;
$shadow_color: #16231B;

.cast-page {
  color: #FFFFFF;
  a {
    color: #FFFFFF;
  }
  .box {
    &:before {
      border: 20px solid $frame_color;
    }
  }
}
