$panel_color: #2c4435;
$frame_color: #41664F;
$shadow_color: #16231B;

.cast-page {
  color: #FFFFFF;
  a {
    color: #FFFFFF;
  }
  .box {
    &:before {
      border: 20px solid $frame_color;
    }
  }

  .zoana {
    background-color: $panel_color;
    box-shadow: 5px 5px 5px 0px $shadow_color;
    .image {
      background-image: url("");
      background-repeat: no-repeat;
    }
  }

  .elle {
    background-color: $panel_color;
    box-shadow: 5px 5px 5px 0px $shadow_color;
    .image {
      background-image: url("");
      background-repeat: no-repeat;
    }
  }

  .auri {
    background-color: $panel_color;
    box-shadow: 5px 5px 5px 0px $shadow_color;
    .image {
      background-image: url("");
      background-repeat: no-repeat;
    }
  }

  .sonette {
    background-color: $panel_color;
    box-shadow: 5px 5px 5px 0px $shadow_color;
    .image {
      background-image: url("");
      background-repeat: no-repeat;
    }
  }

  .katherine {
    background-color: $panel_color;
    box-shadow: 5px 5px 5px 0px $shadow_color;
    .image {
      background-image: url("");
      background-repeat: no-repeat;
    }
  }
}
