.twokinds {
  a {
    background-image: url('../../static/laslindas/partners/link_trade_2ks.png');
  }
}
.bittersweetcandybowl {
  a {
    background-image: url('../../static/laslindas/partners/link_trade_bcb.png');
  }
}
.draconiachronicles {
  a {
    background-image: url('../../static/laslindas/partners/link_trade_dc.png');
  }
}
.mylifewithfel {
  a {
    background-image: url('../../static/laslindas/partners/link_trade_mlwf.png');
  }
}
.themonsterunderthebed {
  a {
    background-image: url('../../static/laslindas/partners/link_trade_mutb.png');
  }
}
.wukrii {
  a {
    background-image: url('../../static/laslindas/partners/link_trade_wuk.png');
  } 
}


