.ad-container-hor {
  display: none;
  margin-top: 1em;
  .ad-bottom-banner {
    a {
      display: block;
      margin: 0 auto;
      height: 160px;
      width: 360px;
    }
  }

  @include respond-to("md") {
  }

  @include respond-to("lg") {
  }
}
