@import './palette.scss';
@import './cb/cast.scss';
@import './cb/comic-archive.scss';
@import './cb/comic-navigation.scss';
@import './cb/comic.scss';
@import './cb/footer.scss';
@import './cb/header.scss';

body {
  background-color: rgb(9, 180, 232);
  background-image: url('../../static/cb/background.png');
  background-position: center;
  background-repeat: no-repeat;
  color: $off_white;
}

.cross-promotion {
  a {
    background-image: url('../../static/cb/spotlight_banner_2.png');
    &:first-child {
      background-image: url('../../static/cb/spotlight_banner_1.png');
    }
    &:last-child {
      background-image: url('../../static/cb/spotlight_banner_3.png');
    }
  }
}

@media only screen and (max-device-width : 1024px) and (orientation : portrait) {
  .logo {
    margin: 0 auto;
    a {
      background-image: url('../../static/cb/comic_logo_mobile.png');
    }
  }
}
