#primary {
  .comic-table {
    #comic {
      background: $off_white_opaque;
      text-align: center;
      img {
        vertical-align: bottom;
        width: 100%;
      }
    }
  }

  @include respond-to("md") {
    .comic-table {
      #comic {
        img {
          width: inherit;
        }
      }
    }
  }
  
  @include respond-to("lg") {
  } 
}


