table#comic-nav-wrapper {
  border-spacing: 0;
  a, span {
    background-repeat: no-repeat;
    color: transparent;
    display: block;
    height: 50px;
    width: 200px;
  }
  td {
    margin: 0;
    padding: 0;
  }

  @include respond-to("md") {
  }

  @include respond-to("lg") {
  }
}
