.site-content {
  .entry-header {
    display: none;
  }
  .content {
    display: flex;
    justify-content: center;
  }

  @include respond-to("md") {
    .content {
      .comic {
        width: 60%;
      }
    }
  }

  @include respond-to("lg") {
    .content {
      .comic {
        width: 800px;
      }
    }
  }
}
