.cross-promotion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: $default-margin;

  a {
    @include image-link();
    height: 180px;
    margin: $default-margin auto 0;
    width: 360px;
  }

  @include respond-to('md') {
    flex-direction: row;
  }
}
