header.site-header {
  .site-header-main {
    .logo {
      a {
        @include image-link();
        height: 144px;
        width: 335px;
        margin: 0 auto;
      }
    }

    .main-navigation {
      display: none;
      .top-nav-slot {
        min-height: 110px;
      }
    }
  }

  @include respond-to("md") {
    .site-header-main {
      .logo {
        a {
          background-repeat: no-repeat;
          color: transparent;
          display: block;
          height: 160px;
          width: 372px;
        }
      }
      .main-navigation {
        ul {
          display: flex;
          justify-content: space-around;
          li {
            list-style-type: none;
            a {
              color: $shadow_black;
              font-size: 2em;
              text-decoration: none;
            }
          }
        }
      }
    }
  }


  @include respond-to("lg") {
    .site-header-main {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .logo {
        a {
          height: 160px !important;
          width: 372px !important;
        }
      }
      
      .top-nav-slot {
        display: block !important;
      }

      .main-navigation {
        display: block !important;
      }
    }
  }
}



