header.site-header {
  .site-header-main {
    .logo {
      a {
        @include image-link();
        height: 144px;
        margin: 0 auto;
        width: 335px;
      }
    }

    .main-navigation {
      margin: 0 auto;

      #menu-primary-navigation.primary-menu {
        margin: 0;
        padding: 0;
      }

      .top-nav-slot {
        display: none;
        min-height: 110px;
        text-align: center;

        & > div {
          display: flex;
          flex-direction: column;
          & > div:first-child() {
            order: 2;
          }
          & > div:last-child() {
            order: 1;
          }
        }
      }

      ul {
        display: flex;
        justify-content: space-around;

        li {
          list-style-type: none;

          a {
            color: $shadow_black;
            font-size: 1.5em;
            line-height: 2em;
            text-decoration: none;
          }
        }
      }
    }
  }

  @include respond-to("md") {
    .site-header-main {
      .logo {
        a {
          height: 160px;
          width: 372px;
        }
      }

      .main-navigation {
        .top-nav-slot {
          display: block;
        }

        ul {
          li {
            a {
              font-size: 2em;
              line-height: 2em;
            }
          }
        }
      }
    }
  }

  @include respond-to("lg") {
    .site-header-main {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .logo {
        a {
          height: 151px;
          width: 352px;
        }
      }

      .main-navigation {
        #menu-primary-navigation.primary-menu {
          a {
            @include image-link();
            height: 70px;
            width: 182px;
          }
        }
      }
    }
  }
}
