header.site-header {
  .site-header-main {
    .logo {
      a {
        @include image-link();
        height: 144px;
        margin: 0 auto;
        width: 335px;
      }
    }

    .main-navigation {
      display: none;
    }
  }

  @include respond-to('md') {
    .site-header-main {
      .logo {
        a {
          height: 160px;
          width: 372px;
        }
      }

      .main-navigation {
        display: block !important;

        #menu-primary-navigation.primary-menu {
          margin: 0;
          padding: 0;
        }

        .top-nav-slot {
          min-height: 110px;
          text-align: center;
        }

        ul {
          display: flex;
          justify-content: space-around;

          li {
            list-style-type: none;

            a {
              color: $shadow_black;
              font-size: 2em;
              line-height: 2em;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  @include respond-to('lg') {
    .site-header-main {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .logo {
        a {
          height: 160px;
          width: 372px;
        }
      }

      .main-navigation {
        #menu-primary-navigation.primary-menu {
          a {
            @include image-link();
            height: 70px;
            width: 182px;
          }
        }
      }
    }
  }
}
