@import './palette.scss';

@import './ad-sidebar.scss';
@import './carousel.scss';
@import './content.scss';
@import './footer.scss';
@import './header.scss';
@import './social-sidebar.scss';

@import './pages/archive.scss';
@import './pages/cast.scss';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#page {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  min-width: $project-min-width;
  max-width: $project-max-width;
  padding: $default-padding;
}

.ad-container-hor {
  display: none;
  margin-top: 1em;
  .ad-bottom-banner {
    a {
      display: block;
      margin: 0 auto;
      height: 160px;
      width: 360px;
    }
  }
}
.cross-promotion {
  display: flex;
  justify-content: space-evenly;
  margin: .5em 0;
  a {
    height: 180px;
    width: 360px;
  }
}

.comments-area, .entry-footer, .entry-title {
  display: none;
}

table#comic-nav-wrapper {
  border-spacing: 0;
  a, span {
    background-repeat: no-repeat;
    color: transparent;
    display: block;
    height: 50px;
    width: 200px;
  }
  td {
    margin: 0;
    padding: 0;
  }
}

/* Smartphones (portrait) ------------------------------------------------------------------------------------------- */
@media only screen and (max-width : 420px) and (orientation : portrait) {
  table#comic-nav-wrapper {  
    text-align: center;
    a, span {
      color: inherit !important;
      display: inline !important;
      font-size: 1.2em;
      line-height: 50px;
      text-decoration: none;
    }
    span {
      color: #999999 !important;
    }
    .comic-nav-first {
      background-image: none !important;
    }
    .comic-nav-previous {
      background-image: none !important;
    }
    .comic-nav-next {
      background-image: none !important;
    }
    .comic-nav-last {
      background-image: none !important;
    }
  }
  
  body {
    overflow-x: hidden;
  }
  .logo {
    height: 160px !important;
    width: 372px !important;
  }
  .comic {
    width: 100% !important;
    img {
      width: 100% !important;
    }
  }
  section.carousel, .main-navigation, .social-sidebar, .ad-container-ver {
    display: none !important;
  }
  .ad-container-hor {
    display: block !important;
  }
  .cross-promotion {
    flex-direction: column;
  }
  .spotlight {
    margin: 1em auto;
  }
  table#comic-nav-wrapper {
    .comic-nav {
      max-width: 80px;
    }
  }
}

/* Tablet (portrait) ------------------------------------------------------------------------------------------------ */
@media only screen and (min-width : 421px) and (max-width : 1024px) and (orientation : portrait) {
  body {
    overflow-x: hidden;
  }
  .comic {
    width: 100% !important;
  }
  section.carousel, .main-navigation, .social-sidebar, .ad-container-ver {
    display: none !important;
  }
  .ad-container-hor {
    display: block !important;
  }
  .cross-promotion {
    flex-direction: column;
  }
  .spotlight {
    margin: 1em auto;
  }
  table#comic-nav-wrapper {
    .comic-nav {
      max-width: 80px;
    }
  }
}
