@import './palette.scss';

@import './ad-horizontal.scss';
@import './ad-sidebar.scss';
@import './carousel.scss';
@import './comments.scss';
@import './comic.scss';
@import './comic-navigation.scss';
@import './content.scss';
@import './cross-promotion.scss';
@import './footer.scss';
@import './header.scss';
@import './social-sidebar.scss';

@import './pages/archive.scss';
@import './pages/cast.scss';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#page {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  min-width: $project-min-width;
  max-width: $project-max-width;
}
