@import './palette.scss';
@import './knighthood/cast.scss';
@import './knighthood/comic-archive.scss';
@import './knighthood/comic-navigation.scss';
@import './knighthood/comic.scss';
@import './knighthood/footer.scss';
@import './knighthood/header.scss';
@import './knighthood/partners.scss';

body {
  background-image: url('../../static/knighthood/background.png');
  background-position: center;
  color: $off_white;
}

.cross-promotion {
  a {
    background-image: url('../../static/knighthood/spotlight_banner_2.png');
    &:first-child {
      background-image: url('../../static/knighthood/spotlight_banner_1.png');
    }
    &:last-child {
      background-image: url('../../static/knighthood/spotlight_banner_3.png');
    }
  }
}

@media only screen and (max-device-width : 1024px) and (orientation : portrait) {
  .logo {
    margin: 0 auto;
    a {
      background-image: url('../../static/knighthood/comic_logo_mobile.png');
    }
  }
}
