@import './palette.scss';
@import './laslindas/comic-archive.scss';
@import './laslindas/comic-navigation.scss';
@import './laslindas/comic.scss';
@import './laslindas/footer.scss';
@import './laslindas/header.scss';

body {
  background-color: black;
  background-position: center;
  color: $off_white;
}

.cross-promotion {
  a {
    background-image: url('../../static/laslindas/spotlight_banner_2.png');
    &:first-child {
      background-image: url('../../static/laslindas/spotlight_banner_1.png');
    }
    &:last-child {
      background-image: url('../../static/laslindas/spotlight_banner_3.png');
    }
  }
}

@media only screen and (max-device-width : 1024px) and (orientation : portrait) {
  .logo {
    margin: 0 auto;
    a {
      background-image: url('../../static/laslindas/comic_logo_mobile.png');
    }
  }
}
