/* Desktop ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-device-width : 1025px) {
  body {
    max-width: 1100px;
    min-width: 1100px;
    width: 1100px;
  }
}

/* Smartphones (portrait) ------------------------------------------------------------------------------------------- */
@media only screen and (max-width : 420px) and (orientation : portrait) {
  table#comic-nav-wrapper {  
    text-align: center;
    a, span {
      color: inherit !important;
      display: inline !important;
      font-size: 1.2em;
      line-height: 50px;
      text-decoration: none;
    }
    span {
      color: #999999 !important;
    }
    .comic-nav-first {
      background-image: none !important;
    }
    .comic-nav-previous {
      background-image: none !important;
    }
    .comic-nav-next {
      background-image: none !important;
    }
    .comic-nav-last {
      background-image: none !important;
    }
  }
  
  body {
    overflow-x: hidden;
  }
  .logo {
    margin: 0 auto;
    a {
      background-image: url('../../static/paprika/comic_logo_mobile.png');
    }
  }
  .comic {
    width: 100% !important;
    img {
      width: 100% !important;
    }
  }
  section.carousel, .main-navigation, .social-sidebar, .ad-container-ver {
    display: none !important;
  }
  .ad-container-hor {
    display: block !important;
  }
  .cross-promotion {
    flex-direction: column;
  }
  .spotlight {
    margin: 1em auto;
  }
  table#comic-nav-wrapper {
    .comic-nav {
      max-width: 80px;
    }
  }
}

/* Tablet (portrait) ------------------------------------------------------------------------------------------------ */
@media only screen and (min-width : 421px) and (max-width : 1024px) and (orientation : portrait) {
  body {
    overflow-x: hidden;
  }
  .logo {
    margin: 0 auto;
    a {
      background-image: url('../../static/paprika/comic_logo_mobile.png');
    }
  }
  .comic {
    width: 100% !important;
  }
  section.carousel, .main-navigation, .social-sidebar, .ad-container-ver {
    display: none !important;
  }
  .ad-container-hor {
    display: block !important;
  }
  .cross-promotion {
    flex-direction: column;
  }
  .spotlight {
    margin: 1em auto;
  }
  table#comic-nav-wrapper {
    .comic-nav {
      max-width: 80px;
    }
  }
}
