@import './palette.scss';
@import './pmp/cast.scss';
@import './pmp/comic-archive.scss';
@import './pmp/comic-navigation.scss';
@import './pmp/comic.scss';
@import './pmp/footer.scss';
@import './pmp/header.scss';
@import './pmp/partners.scss';

body {
  background-image: url('../../static/pmp/background.png');
  background-position: center;
  color: $off_white;
}

.cross-promotion {
  a {
    background-image: url('../../static/pmp/spotlight_banner_2.png');
    &:first-child {
      background-image: url('../../static/pmp/spotlight_banner_1.png');
    }
    &:last-child {
      background-image: url('../../static/pmp/spotlight_banner_3.png');
    }
  }
}

@media only screen and (max-device-width : 1024px) and (orientation : portrait) {
  .logo {
    margin: 0 auto;
    a {
      background-image: url('../../static/pmp/comic_logo_mobile.png');
    }
  }
}

.site-footer {
  color: $off_white;
}
