.picarto {
  a {
    background-image: url('../../static/social/picarto.png');
  }
}
.fur-affinity {
  a {
    background-image: url('../../static/social/furaffinity.png');
  }
}
.deviant-art {
  a {
    background-image: url('../../static/social/deviantart.png');
  }
}
.instagram {
  a {
    background-image: url('../../static/social/instagram.png');
  }
}
.youtube {
  a {
    background-image: url('../../static/social/youtube.png');
  }
}
.patreon {
  a {
    background-image: url('../../static/social/patreon.png');
  }
}
.paypal {
  a {
    background-image: url('../../static/social/paypal.png');
  }
}
.ko-fi {
  a {
    background-image: url('../../static/social/kofi.png');
  }
}
.gumroad {
  a {
    background-image: url('../../static/social/gumroad.png');
  }
}
.twitter {
  a {
    background-image: url('../../static/social/twitter.png');
  }
}
.discord {
  a {
    background-image: url('../../static/social/discord.png');
  }
}
