@import './palette.scss';
@import './theeye/comic-archive.scss';
@import './theeye/comic-navigation.scss';
@import './theeye/header.scss';
@import './theeye/social-buttons.scss';

body {
  background-color: #000;
  background-image: url('../../static/theeye/background.png');
  background-position: center;
  background-repeat: no-repeat;
  color: $off_white;
}

.cross-promotion {
  a {
    background-image: url('../../static/theeye/spotlight_banner_2.png');
    &:first-child {
      background-image: url('../../static/theeye/spotlight_banner_1.png');
    }
    &:last-child {
      background-image: url('../../static/theeye/spotlight_banner_3.png');
    }
  }
}

@media only screen and (max-device-width : 1024px) and (orientation : portrait) {
  .logo {
    margin: 0 auto;
    a {
      background-image: url('../../static/theeye/comic_logo_mobile.png');
    }
  }
}
