.studiokhimera {
  a {
    background-image: url('../../static/tots/partners/link_trade_stuk.png');
  } 
}
.mousechievous {
  a {
    background-image: url('../../static/tots/partners/link_trade_maus.png');
  } 
}
.uberquest {
  a {
    background-image: url('../../static/tots/partners/link_trade_uber.png');
  } 
}
